.about {
    font-family: "Yeseva One", serif;
    font-size: 30px;
    line-height: 42px;
}

.aboutUs {
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    line-height: 28px;
    color: #191c44;
}

.services{
    font-size: 18px;
    line-height: 36px;
    font-family: "Ubuntu", sans-serif;
}

.offer{
    font-size: 36px;
    line-height: 50px;
    font-family: "Yeseva One", serif;
}
.team:hover img{
    transform: scale(1.1);
}

.number{
    font-family: "Yeseva One", serif;
    font-size: 48px;
    line-height: 80px;
}

.courses{
    font-family: "Yeseva One", serif;
    font-size: 36px;
    line-height: 50px;
}

.title{
    font-family: "Yeseva One", serif;
    font-size: 24px;
    line-height: 34px;
}
.detailsOfCourses{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #191c44;
}
.day{
    font-size: 20px;
    line-height: 40px;
    font-family: "Ubuntu", sans-serif;
}

.hour{
    font-size: 14px;
    line-height: 28px;
    font-family: "Ubuntu", sans-serif;
}