.title {
    font-size: 16px;
    line-height: 22px;
    font-family: "Ubuntu", sans-serif;
}

.details {
    font-size: 22px;
    line-height: 44px;
    font-family: "Ubuntu", sans-serif;
}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(5px);
    }
}

.touch{
    font-family: "Yeseva One", serif;
    font-size: 20px;
    line-height: 28px;
}
.contact{
    font-family: "Yeseva One", serif;
    font-size: 36px;
    line-height: 50px;
}

.form{
    grid-template-areas: 
    "name phone"
    "subject services"
    "message message"
    ;
    grid-gap: 10px;
}

.name{
    grid-area: name;
}

.phone{
    grid-area: phone;
}

.services{
    grid-area: services;
}

.subject{
    grid-area: subject;
}
.message{
    grid-area: message;
}
.btn{
    font-size: 22px;
    font-family: "Ubuntu", sans-serif;
}