.gallery {
    display: grid;
    grid-template-areas:
        'item1 item1 item2 item3'
        'item1 item1 item4 item4'
        'item5 item6 item4 item4';
    grid-gap: 20px;
}

.item1 {
    grid-area: item1;
    transition: all 0.3s ease;
}

.item2 {
    grid-area: item2;
    transition: all 0.3s ease;
}

.item3 {
    grid-area: item3;
    transition: all 0.3s ease;
}

.item4 {

    grid-area: item4;
    transition: all 0.3s ease;
}

.item5 {
    grid-area: item5;
    transition: all 0.25s ease;
}

.item6 {
    grid-area: item6;
    transition: all 0.3s ease;
}


.item1:hover img,
.item2:hover img,
.item3:hover img,
.item4:hover img,
.item5:hover img,
.item6:hover img
{
    filter: brightness(50%);
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover

{
    transform: translateY(-10px);
}